DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,testserver
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org/search
NOMINATIM_USER_AGENT=fuel-route-api/0.1
OSRM_BASE_URL=https://router.project-osrm.org
EXTERNAL_API_TIMEOUT_SECONDS=10
ROUTE_CACHE_TIMEOUT_SECONDS=86400
GEOCODING_CACHE_TIMEOUT_SECONDS=86400
